.directory-psychologists {
  display: flex;
  flex-direction: column;
  padding: 20px 80px 0;
  margin-bottom: 40px;
}

.directory-psychologists__title {
  margin-bottom: 60px;
}

.directory-psychologists__container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.directory-psychologists__psycho-list {
  max-width: 835px;
  width: 100%;
}

.directory-psychologists__psycho-list_container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  padding-bottom: 40px;
}

.directory-psychologists__psycho-list_item {
  border-radius: 12px;
  transition: box-shadow .2s ease;
  cursor: pointer;
}

.directory-psychologists__psycho-list_item:hover {
  box-shadow: 0 0 5px var(--border-color-medium-violet);
}

.psychologists-popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  background-color: rgba(255, 255, 255, .8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  padding-top: 50px;
  height: 100vh;
  transition: .6s ease-in-out;
}

.psychologists-popup_open {
  visibility: visible;
  opacity: 1;
  transition: .6s ease-in-out;
}

.psychologists-popup__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 29px;
  max-width: 1030px;
  width: 100%;
}

.psychologists-popup__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 50px;
  height: min-content;
  padding-bottom: 50px;
}

.psychologists-popup__btn {
  margin-top: 5px;
  align-self: flex-start;
  color: var(--text-color-dark-blue);
}

.directory-psychologists__filter {
  max-width: 425px;
  width: 100%;
}

.directory-psychologists__psycho-list_error {
  text-align: center;
}

.directory-animation-enter {
  opacity: 0;
}

.directory-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.directory-animation-exit {
  opacity: 1;
}

.directory-animation-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}


