.dropdown-list {
  z-index: 15;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: .4s ease;
  padding: 0 12px;
  border: 0 solid var(--border-color-medium-violet);
  border-radius: 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scrollbar-gutter: stable;
  opacity: 0;
}

/* TODO: стили скрола повторяются */
/* TODO: поправить размер скрола */
.dropdown-list::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: var(--border-color-dark-violet);
  border-radius: 4px;
}

.dropdown-list_opened {
  width: 100%;
  background-color: white;
  padding: 16px 12px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid var(--border-color-medium-violet);
  transition: .5s ease;
  border-radius: 12px;
  opacity: 1;
}

.dropdown-list_titles {
  flex-direction: initial;
  flex-wrap: wrap;
}
