.title {
  margin: 0;
  font-family: var(--font-family-montsertat);
  font-weight: var(--text-weight-title);
  color: var(--text-color-dark-blue);
}

.title_size_l {
  font-size: var(--text-font-size-l);
  line-height: 62px;
}
.title_size_m {
  font-size: var(--text-font-size-m);
  line-height: 48px;
}

.title_size_s {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.8px;
}

.title_size_xs {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
