.dropdown-item-custom {
  width: 100%;
  padding-bottom: 4px;
}

.dropdown-item-custom__input {
  padding-bottom: 4px;
  width: 100%;
  border: none;
  font-family: var(--font-family-lato);
  font-weight: 400;
  color: #272766;
  border-bottom: 1px solid #272766;
}

.dropdown-item-custom__input:focus {
  border-radius: 0;
  outline: none;
}

.dropdown-item__input:focus {
  color: #6b6bc7;
  border-bottom: 1px solid #6b6bc7;
}

.dropdown-item__input:disabled {
  background-color: transparent;
  color: #9b9da0;
  border-bottom: 1px solid #9b9da0;
}

.dropdown-item__input_invalid {
  color: #cf3614;
}
