.field-container__prompt-height {
  height: 17px;
}

.field-container__prompt {
  padding-left: 12px;
  font-family: var(--font-family-lato);
  font-weight: var(--text-weight-primary);
  font-size: 14px;
  line-height: normal;
}

.field-container__prompt_visible-error {
  color: var(--text-color-error);
}

.field-container__prompt_visible-prompt {
  color: var(--text-color-dark-blue);
}
