.field-prompt_type_standart-height {
  min-height: 17px;
  max-height: min-content;
}

.field-prompt {
  padding-left: 12px;
  font-family: var(--font-family-lato);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.field-prompt_type_visible-error {
  color: #cf3614;
}

.field-prompt_type_visible-prompt {
  color: #272766;
}
