.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__variants {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  column-gap: 28px;
}

.auth__variants_item {
  background: none;
  border: none;
  height: 39px;
  color: var(--text-color-dark-blue);
  font-family: var(--font-family-montsertat);
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.auth__variants_item-active {
  border-bottom: 4px solid var(--border-color-medium-violet);
}

.auth__variants_item-inactive {
  color: var(--text-color-disabled);
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.auth__form-login {
  max-width: 522px;
  width: 100%;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 27.2vh; /* ??? */
  animation: fadeOut 1s;
}

.auth__psycho {
  margin: 20px 0 28px 0;

  animation: fadeOut 1s;
}

.auth__form-registration {
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  animation: fadeOut 1s;
}

.auth__service-documents {
  padding-bottom: 40px;
}

.auth__form-registration_field-container {
  display: grid;
  grid-template-columns: minmax(min-content, 305px) minmax(min-content, 305px);
  /* grid-template-rows: min-content; */
  column-gap: 20px;
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0; /* перехватыввет normalize css */
}

.auth__service-documents_text {
  font-family: var(--font-family-lato);
}

.auth__form-registration_button {
  align-self: end;
}

.auth__form-login_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 28px;
  align-content: center;
  align-items: center;
}

.auth__form-login_fields {
  list-style-type: none;
}

.auth__prompt {
  min-height: 12px;
  max-height: min-content;
}
