.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 24px 100px;
  width: 100%;
}

.auth__variants {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  column-gap: 28px;
}

.auth__variants-item {
  background: none;
  border: none;
  height: 39px;
  color: #272766;
  font-family: var(--font-family-montserrat);
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.auth__variants-item_active {
  border-bottom: 4px solid #8d8de9;
}

.auth__variants-item_inactive {
  color: #9b9da0;
}

@media screen and (max-width: 768px) {
  .auth__variants {
    flex-direction: column;
    row-gap: 10px;
  }

  .auth {
    padding: 20px 24px 100px;
  }
}