.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 24px 100px;
  width: 100%;
}

.auth__variants {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  column-gap: 28px;
}

.auth__variants_item {
  background: none;
  border: none;
  height: 39px;
  color: var(--text-color-dark-blue);
  font-family: var(--font-family-montsertat);
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.auth__variants_item-active {
  border-bottom: 4px solid var(--border-color-medium-violet);
}

.auth__variants_item-inactive {
  color: var(--text-color-disabled);
}

.auth__service-documents {
  padding-bottom: 40px;
}

.auth__service-documents_text {
  font-family: var(--font-family-lato);
}

@media screen and (max-width: 768px) {
  .auth__variants {
    flex-direction: column;
    row-gap: 10px;
  }

  .auth {
    padding: 20px 24px 100px;
  }
}