.psycho-registration__form_price-container,
.psycho-registration__form_experience-container {
  width: 305px;
}

.psycho-registration__form-text {
  min-height: 108px;
}

.psycho-registration__form-step_list_two {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
}
