.empty-card__paragraph {
  font-family: var(--font-family-lato);
  font-weight: 400;
  font-size: 18px;
  color: #9b9da0;
  max-width: 425px;
  width: 100%;
  margin-bottom: 4px;
  overflow: hidden;
}

.empty-card {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
}

.empty-card_type_psychologist > .button {
  margin-top: 4px;
  align-self: flex-end;
}

.empty-card_type_client > .button {
  margin-top: 28px;
  align-self: flex-start;
}
