.psychologist-account {
  display: flex;
  row-gap: 40px;
  column-gap: 20px;
  align-items: start;
}

.psychologist-account__content-block {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .psychologist-account {
    flex-direction: column;
  }

  .psychologist-account__content-block {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .psychologist-account__layout {
    align-items: center;
  }

  .psychologist-account {
    align-items: center;
  }
}