.psychologist-account {
  display: grid;
  grid: 'calendar shedule' 1fr 'session shedule' 1fr /1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
  align-items: start;
}

.psychologist-account > .calendar {
  grid-area: calendar;
}

.psychologist-account > .session-card {
  grid-area: session;
}

.psychologist-account > .scroller {
  grid-area: shedule;
}

.psychologist-account__content-block {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
}

@media screen and (max-width: 1280px) {
  .psychologist-account {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .psychologist-account__content-block {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .psychologist-account__layout {
    align-items: center;
  }
}