.welcome {
  display: flex;
  flex-direction: column;
  padding-top: 106px;
  height: 704px;
  width: 100%;
  align-items: center;
}

.banner {
  display: flex;
  max-width: 1280px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  max-width: 630px;
  width: 51%;
}

.banner__description {
  max-width: 500px;
  font-family: var(--font-family-lato);
  font-size: 22px;
  color: var(--text-color-dark-blue);
  font-weight: var(--text-weight-primary);
  line-height: 28px;
  padding-bottom: 12px;
}

@media screen and (max-width: 1250px) {
  .banner__description {
    font-size: 18px;
    line-height: normal;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    height: 626px;
    row-gap: 40px;
    justify-content: unset;
  }

  .banner__text {
    width: 100%;
    gap: 16px;
  }

  .banner__description {
    font-size: 16px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 1440px) {
  .welcome {
    padding: 106px 80px 0;
    height: 644px;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    padding: 40px 24px 0;
    height: 602px;
  }
}