.about-problems {
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.about-problems__cards {
  display: grid;
  padding: 0;
  margin: auto;
  list-style: none;
  max-width: 1280px;
  grid: repeat(2, 234px) / repeat(12, 1fr);
  gap: 20px;
}

.about-problems__card {
  display: grid;
  padding: 32px 28px 20px 32px;
  grid: repeat(2, minmax(min-content, max-content));
  border: 1px solid;
  border-color: var(--border-color-medium-violet);
  border-radius: 12px;
}

.about-problems__description {
  font-family: var(--font-family-lato);
  font-size: var(--text-font-size-s);
  line-height: 1.3;
  font-weight: var(--text-font-size-s);
  max-width: 368px;
  color: var(--text-color-dark-blue);
}

.about-problems__img {
  object-fit: contain;
  justify-self: end;
  align-self: end;
}

.about-problems__card:first-child {
  grid-column: span 6;
  display: grid;
  grid: 1fr / 1fr 0.5fr;
  padding-right: 48px;
}

.about-problems__card:nth-child(2) {
  grid-column: span 3;
}

.about-problems__card:nth-child(3) {
  grid-column: span 3;
}

.about-problems__card:nth-child(4) {
  grid-column: span 4;
  padding-bottom: 28px;
}

.about-problems__card:nth-child(5) {
  grid-column: span 4;
}

.about-problems__card:last-child {
  grid-column: span 4;
  padding-bottom: 28px;
}
