.session-planner__select {
  width: 88px;
  height: 48px;
  color: black;
  border: 1px solid;
  border-color: #272766;
  border-radius: 12px;
  font-family: var(--font-family-lato);
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.session-planner__number {
  font-family: var(--font-family-lato);
  font-weight: 400;
  color: #272766;
  font-size: 18px;
  line-height: 24px;
}

.session-planner_style_open {
  color: #6b6bc7;
  border-color: #6b6bc7;
}

.session-planner__button-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 5px;
  border: none;
  background-color: inherit;
}

.session-planner__button-drop:hover {
  cursor: pointer;
}

.session-planner__timing-list {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 114.5%;
  left: 0;
  width: 88px;
  max-height: 152px;
  border: none;
  border-radius: 12px;
  background-color: #fefefe;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  overflow-y: auto;
}

.session-planner__timing-list::-webkit-scrollbar {
  display: none;
}

.session-planner__list_visible {
  display: flex;
}

.session-planner__timing-item {
  font-family: var(--font-family-lato);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  padding: 6px 0;
  background-color: inherit;
}

.session-planner__timing-item:hover {
  background-color: #d9d9f1;
}

.session-planner__item_visible {
  display: block;
}