.psycho-filters {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 28px;
  gap: 20px;
  border-radius: 12px;
  background: #d9d9f1;
}

.psycho-filters-container {
  max-height: min-content;
  max-width: 425px;
  width: 100%;
  padding-bottom: 50px;
}

.psycho-filters__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.psycho-filters__header-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.psycho-filters__header-icon {
  background-image: url('../../../images/filter.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.psycho-filters__header-text {
  color: #272766;
  font-family: var(--font-family-montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.psycho-filters__filter {
  background-color: #fff;
}

.psycho-filters__filters {
  list-style-type: none;
}

.psycho-filters__prompt {
  height: 8px;
}

.psycho-filters__submit-button {
  max-width: 215px;
  width: 100%;
  align-self: center;
}

.psycho-filters__input {
  max-width: 90%;
}

@media screen and (max-width: 1200px) {
  .psycho-filters-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .psycho-filters-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .psycho-filters__header {
    flex-direction: column;
    row-gap: 5px;
  }
}