.how-to-start {
  padding: 100px 0 120px;
  background-color: #f7f5ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
}

.how-to-start__container {
  max-width: 1280px;
  width: 100%;
}

.how-to-start__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: description;
}

.how-to-start__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.how-to-start__list-item {
  display: flex;
  gap: 20px;
  height: 280px;
}

.how-to-start__list-item_reverse {
  flex-direction: row-reverse;
}

.how-to-start__card {
  border: 1px solid;
  border-color: #8d8de9;
  border-radius: 12px;
}

.how-to-start__card_type_text {
  padding: 40px 60px 42px;
  display: grid;
  grid: 'number name' 46px '. description' / auto 1fr;
  gap: 12px;
}

.how-to-start__card_type_img {
  max-width: 412px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-to-start__card_color_white {
  background-color: #fefefe;
}

.how-to-start__card_color_light-green {
  background-color: #d4eee4;
}

.how-to-start__card_color_light-violet {
  background-color: #d9d9f1;
}

.how-to-start__num {
  font-family: var(--font-family-montserrat);
  font-size: 38px;
  line-height: normal;
  font-weight: 500;
  grid-area: number;
  color: #6b6bc7;
}

.how-to-start__card .title {
  grid-area: name;
  align-self: center;
}

.how-to-start__description {
  font-family: var(--font-family-lato);
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #272766;
  vertical-align: text-top;
}

.how-to-start__img {
  width: 100%;
}

.how-to-start__list
  .how-to-start__list-item:nth-child(1)
  .how-to-start__card_type_img
  .how-to-start__img {
    padding: 23px 75px 37px 76px;
  }

  .how-to-start__list
  .how-to-start__list-item:nth-child(2)
  .how-to-start__card_type_img
  .how-to-start__img {
    padding: 28px 51px 28px 50px;
  }

  .how-to-start__list
  .how-to-start__list-item:nth-child(3)
  .how-to-start__card_type_img
  .how-to-start__img {
    padding: 45px 31px 43.999px 30px;
  }

@media screen and (max-width: 1440px) {
  .how-to-start {
    padding: 100px 80px 120px;
  }
}

@media screen and (max-width: 1176px) {
  .how-to-start__container {
    gap: 32px !important;
  }

  .how-to-start__button {
    align-self: flex-start;
  }

  .how-to-start__list-item {
    height: auto;
    width: 328px;
    gap: 16px;
  }

  .how-to-start__card_type_text {
    padding: 27px 40px;
    gap: 8px;
    height: 100%;
  }

  .how-to-start__num {
    margin-bottom: 47px;
  }

  .how-to-start__box {
    padding-bottom: 20px;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #6b6bc7 #fefefe;
  }
  

  .how-to-start__list {
    height: 670px;
    gap: 16px;
    justify-content: space-between;
    width: 1016px;
  }

  .how-to-start__card_type_text {
    display: flex;
    flex-direction: column;
  }

  .how-to-start__card .title {
    align-self: flex-start;
  }

  .how-to-start__list {
    flex-direction: row;
  }

  .how-to-start__list-item {
    flex-direction: column;
  }

  .how-to-start__list
  .how-to-start__list-item:nth-child(1)
  .how-to-start__card_type_img
  .how-to-start__img {
    padding: 23px 33px 37px 33px;
  }

  .how-to-start__list
  .how-to-start__list-item:nth-child(2)
  .how-to-start__card_type_img
  .how-to-start__img {
    padding: 57px 47.647px 56px 47px;
  }

  .how-to-start__list
  .how-to-start__list-item:nth-child(3)
  .how-to-start__card_type_img
  .how-to-start__img {
    padding: 65px 25.508px 64px 25px;
  }
}

@media screen and (max-width: 768px) {
  .how-to-start {
    padding: 80px 24px;
  }

  .how-to-start__card_type_text {
    padding: 40px 24px;
  }
}