.success {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 156px);
  padding: 40px 24px 60px;
  gap: 32px;
}

.success__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  max-width: 630px;
  width: 100%;
  text-align: center;
}

.success__title {
  text-align: center;
}

.success__img {
  max-width: 412px;
  max-height: 358px;
  width: 100%;
}