.emergency-help__text {
  color: var(--text-color-dark-blue);
  font-family: var(--font-family-montsertat);
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  max-width: 665px;
  width: 100%;
}

.emergency-help__contacts {
  display: flex;
  flex-direction: row;
  gap: 25px 20px;
  list-style-type: none;
}

.emergency-help__contacts-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  width: 100%;
}

.emergency-help__contacts-title {
  color: var(--text-color-dark-violet);
  font-family: var(--font-family-lato);
  font-size: var(--text-font-size-s);
  font-weight: var(--text-weight-primary);
  line-height: 26px;
}

.emergency-help__contacts-description {
  color: var(--text-color-dark-blue);
  font-family: var(--font-family-lato);
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .emergency-help__contacts {
    flex-wrap: wrap;
  }
}