.emergency-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 172px;
  width: 100%;
}

.emergency-help__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.emergency-help__content {
  display: flex;
  flex-direction: column;
  border: 1px solid #8d8de9;
  border-radius: 12px;
  padding: 32px 32px 48px;
  row-gap: 40px;
}

.emergency-help__text {
  color: #272766;
  font-family: var(--font-family-montserrat);
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  max-width: 665px;
  width: 100%;
}

.emergency-help__contacts {
  display: flex;
  flex-direction: row;
  gap: 25px 20px;
  list-style-type: none;
}

.emergency-help__contacts-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  width: 100%;
}

.emergency-help__contacts-title {
  color: #6b6bc7;
  font-family: var(--font-family-lato);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.emergency-help__contacts-description {
  color: #272766;
  font-family: var(--font-family-lato);
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1440px) {
  .emergency-help {
    padding: 120px 80px 140px;
  }
}

@media screen and (max-width: 768px) {
  .emergency-help__contacts {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .emergency-help {
    padding: 80px 24px;
    row-gap: 32px;
  }
}