/* Общие стили для кнопок */
.button {
  background-color: inherit;
  border: none;
  text-decoration: none;
  font-family: var(--font-family-lato);
  font-weight: 400;
  line-height: 24px;
  transition: .3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-wrap: wrap;
}

.button_disabled {
  cursor: default;
  pointer-events: none;
}

/* Установка размеров кнопки */
.button_size_m {
  padding: 12px 24px;
  font-size: 14px;
}

.button_size_l {
  padding: 16px 40px;
  font-size: 18px;
}

/* Стили для кнопки Primary */
.button_type_primary {
  color: #fefefe;
  background-color: #6b6bc7;
}

.button_type_primary-active:active,
.button_type_primary-active:hover {
  background-color: #8d8de9;
}

.button_type_primary-disabled {
  background-color: #d9d9f1;
}

/* Стили для кнопки Secondary */
.button_type_secondary {
  box-shadow: inset 0 0 0 2px #6b6bc7;
  color: #272766;
  position: relative;
  overflow: hidden;
}

.button_type_secondary span {
  position: relative;
  z-index: 2;
}

.button_type_secondary-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8d8de9;
  display: inline-block;
  top: 0;
  left: -100%;
  transition: .3s ease-in-out;
}

.button_type_secondary-active:hover {
  box-shadow: inset 0 0 0 2px #8d8de9;
  transition: .3s ease-in-out;
  color: #fefefe;
}

.button_type_secondary-active:hover::after {
  left: 0;
}

.button_type_secondary-active:active::after {
  background-color: #6b6bc7;
}

.button_type_secondary-active:active {
  box-shadow: inset 0 0 0 2px #6b6bc7;
}

.button_type_secondary-disabled {
  box-shadow: inset 0 0 0 2px #d9d9f1;
  color: #d9d9f1;
}

/* Стили для кнопки Text */
.button_type_text,
.button_type_text-icon {
  padding: 8px;
  color: #6b6bc7;
}

.button_type_text-active:hover,
.button_type_text-icon:hover {
  color: #8d8de9;
}
.button_type_text-disabled,
.button_type_text-icon-disabled {
  color: #9b9da0;
}

/* Стили для кнопки c иконкой */
.button_type_text-icon {
  display: flex;
  align-items: center;
  gap: 17px;
}

.button_type_text-icon svg {
  width: 8px;
  height: 14px;
  fill: none;
  transition: .3s;
}

.button_type_text-icon-active:hover svg {
  transform: translateX(-3px);
  transition: .3s;
}

.button_type_text-icon svg path {
  stroke: #6b6bc7;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.button_type_text-icon-active:hover svg path {
  stroke: #8d8de9;
}

.button_type_text-icon-disabled svg path {
  stroke: #9b9da0;
}

@media screen and (max-width: 768px) {
  .button_size_m {
    padding:  10px 20px;
    font-size: 14px;
  }
  .button_size_l {
    padding: 10px 20px;
    font-size: 18px;
  }
}