.terms-cooperation {
  width: 100%;
}

.terms-cooperation__container {
  padding: 32px;
  flex-direction: row;
  justify-content: space-between;
}

.terms-cooperation__text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 589px;
  width: 100%;
}

.terms-cooperation__description {
  color: var(--text-color-dark-blue);
  font-family: var(--font-family-lato);
  font-size: 22px;
  line-height: 28px;
}

.terms-cooperation__email {
  font-family: var(--font-family-lato);
  color: var(--text-color-dark-violet);
  font-size: var(--text-font-size-s);
  line-height: 26px;
}

.terms-cooperation__button {
  align-self: end;
}
