.user-data__form-block {
  display: flex;
  flex-direction: row;
  column-gap: 28px;
}

.user-data__block-title {
  font-weight: 700;
  min-width: 230px;
}

@media screen and (max-width: 1200px) {
  .user-data__block-title {
    min-width: unset;
  }
}

@media screen and (max-width: 1330px) {
  .user-data__form-block {
    flex-direction: column;
    row-gap: 40px;
  }
} 