.name-container__description {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-dark-blue);
  margin-top: 12px;
}

.name-container__description,
.name-container__label {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--font-family-lato);
  white-space: nowrap;
}

.elipse {
  display: block;
  background-color: var(--border-color-dark-violet);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.name-container__label {
  margin-top: 4px;
  color: var(--text-color-dark-violet);
}

@media screen and (max-width: 480px) {
  .name-container__label,
  .name-container__description {
    font-size: 16px;
    line-height: 20px;
  }

  .name-container__description {
    margin-top: 8px;
  }
}
