:root {
  /* background color */
  --bg-color-white: #fefefe;
  --bg-color-grey: #f5f5f5;
  --bg-color-light-green: #d4eee4;
  --bg-color-light-violet: #d9d9f1;
  --bg-color-loight-yellow: #f7f5ef;
  --bg-color-dark-violet: #6b6bc7;

  /* border color */
  --border-color-medium-violet: #8d8de9;
  --border-color-dark-violet: #6b6bc7;
  --border-color-error: #cf3614;
  --border-coolor-disabled: #9b9da0;
  --border-color-dark-blue: #272766;

  /* text */
  --font-family-montsertat: 'Montserrat', Arial, sans-serif;
  --font-family-lato: 'Lato', Arial, sans-serif;

  /* text color */
  --text-color-dark-blue: #272766;
  --text-color-dark-violet: #6b6bc7;
  --text-color-white: #fefefe;
  --text-color-error: #cf3614;
  --text-coolor-disabled: #9b9da0;

  /* size  */
  --text-font-size-l: 50px;
  --text-font-size-m: 38px;
  --text-font-size-s: 20px;

  /* weight */
  --text-weight-title: 700;
  --text-weight-primary: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}
