.create-password {
  max-width: 522px;
  width: 100%;
  padding: 60px 24px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.create-password__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.create-password__list {
  list-style-type: none;
}

.create-password__fieldset {
  margin-bottom: 20px;
}

.create-password__form-button {
  align-self: flex-end;
}

.create-password__text {
  white-space: pre-line;
}