.where-to-begin {
  padding: 100px 80px 120px;
  background-color: rgba(212, 238, 228, 0.3);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.where-to-begin__cards {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.where-to-begin__card {
  padding: 32px 28px 40px 32px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 60px;
  max-width: 413px;
  aspect-ratio: calc(413 / 308);
  border: 1px solid;
  border-color: var(--border-color-medium-violet);
  border-radius: 12px;
}

.where-to-begin__subtitle-number {
  font-family: var(--font-family-montsertat);
  color: var(--border-color-dark-violet);
  font-size: var(--text-font-size-m);
  font-weight: 500;
  line-height: 1.22;
}

.where-to-begin__description {
  font-family: var(--font-family-lato);
  color: var(--text-color-dark-blue);
  font-size: var(--text-font-size-s);
  font-weight: var(--text-weight-primary);
  line-height: 1.3;
}

.where-to-begin__button {
  align-self: flex-end;
}

.where-to-begin__card_color_white {
  background-color: var(--text-color-white);
}

.where-to-begin__card_color_beige {
  background-color: var(--bg-color-loight-yellow);
}

.where-to-begin__card_color_light-violet {
  background-color: var(--bg-color-light-violet);
}
