.dropdown-list {
  z-index: 15;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: .4s ease;
  padding: 0 12px;
  border-radius: 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scrollbar-gutter: stable;
  opacity: 0;
}

.dropdown-list_type_opened {
  background-color: white;
  padding: 16px 12px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #8d8de9;
  transition: .5s ease-in-out;
  opacity: 1;
}

.dropdown-list_type_opened::-webkit-scrollbar {
  display: none;
}

.dropdown-list_type_title {
  flex-direction: initial;
  flex-wrap: wrap;
}
