.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.logo__title {
  margin: 0;
  font-family: 'Urbanist', Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  color: #6b6bc7;
}

.logo__icon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 768px) {
  .logo__title {
    display: none;
  }
}
