.client-account {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page__nav-links {
  background-color: #d9d9f1;
  padding: 32px 32px 40px;
  border-radius: 12px;
}

.client-account__description {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.client-profile__nav-links {
  padding-right: 24px;
}

@media screen and (max-width: 1024px){
  .client-account__description {
    margin-top: 16px;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .client-account {
    gap: 20px;
  }

  .client-account__description > .text > .button {
    font-size: 12px;
  }
}
