.file-upload {
  color: var(--border-color-dark-blue);
  font-family: var(--font-family-lato);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  column-gap: 20px;
  border: none;
  padding: 0;
}

.file-upload__file {
  display: flex;
  align-items: center;
  gap: 4px;
}

.file-upload__file-icon {
  background-image: url('./file.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.file-upload__input {
  display: none;
}

.file-upload__container {
  padding: 12px 24px;
  border-radius: 12px;
  border: 2px solid var(--border-color-dark-violet);
  transition: .5s ease;
}

.file-upload__container:hover {
  opacity: .7;
}