.dropdown-item__custom-input {
  border-bottom: 1px solid var(--border-color-dark-blue);
  width: 100%;
  padding-bottom: 4px;
}

.dropdown-item__input {
  padding-bottom: 4px;
  width: 100%;
  border: none;
  font-family: var(--font-family-lato);
  font-weight: var(--text-weight-primary);
  color: var(--text-color-dark-blue);
  border-bottom: 1px solid var(--border-color-dark-blue);
}

.dropdown-item__input:focus {
  outline: none;
  color: var(--text-color-dark-violet);
  border-bottom: 1px solid var(--border-color-dark-violet);
}

.dropdown-item__input:disabled {
  background-color: transparent;
  color: var(--text-coolor-disabled);
  border-bottom: 1px solid var(--border-coolor-disabled);
}

.dropdown-item__input_invalid {
  color: var(--text-color-error);
}
