/*-----------------INPUT---------------------*/

.input {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 12px;
  font-family: var(--font-family-lato);
  font-weight: var(--text-weight-primary);
  font-size: 18px;
  line-height: 24px;
  max-height: 48px;
  color: var(--text-color-dark-blue);
}

.input:focus {
  outline: none;
  color: var(--border-color-dark-violet);
}

.input::placeholder {
  font-family: var(--font-family-lato);
  font-weight: var(--text-weight-primary);
  font-size: 18px;
  line-height: 24px;
}

.text-input:focus::placeholder {
  opacity: 0;
}

.input_invalid:focus {
  color: var(--text-color-error);
}

.input_disabled {
  color: var(--text-coolor-disabled);
}

.input__icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/*-----------------INPUT---------------------*/

/*-----------------DROPDOWN---------------------*/

.dropdown-input {
  background-color: transparent;
  cursor: pointer;
  caret-color: transparent;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

/*-----------------RADIO---------------------*/
