.field-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}

.field-button:focus {
  outline: 2px solid var(--border-color-medium-violet);
  border-radius: 12px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}
