.session-card {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 40px;
  align-items: start;
  border: 1px solid #6b6bc7;
  border-radius: 12px;
  gap: 24px;
  max-width: 846px;
  overflow: hidden;
}

.session-card_type_client {
  padding: 24px 24px 32px;
  gap: 16px;
  max-width: 588px;
  width: 100%;
}

.session-card > .buttons {
  align-self: flex-end;
}

.session-card__header {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.session-card__header_type_client {
  align-items: center;
}

.session-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.session-card__date {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-lato);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: flex-end;
  gap: 8px;
  color: #272766;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 868px) {
  .session-card__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .session-card__date {
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .session-card {
    padding: 20px 20px 30px;
  }

  .session-card > .buttons {
    align-self: center;
  }
}

@media screen and (max-width: 550px) {
  .session-card {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .session-card {
    padding: 15px 15px 20px;
    gap: 16px;
  }

  .session-card__date {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
}

@media screen and (max-width: 410px) {
  .session-card__date {
    justify-content: flex-start;
  }

  .session-card__buttons {
    flex-wrap: wrap;
  }

  .session-card__buttons > .button {
    width: 100%;
  }
}