.profile-info-block {
  display: grid;
  gap: 28px;
  grid-template-columns: 1fr 2.55fr;
}

.profile-info-block__title {
  color: var(--text-color-dark-blue);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  max-width: 240px;
}

@media screen and (max-width: 768px) {
  .profile-info-block {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
  }
}
