.field-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 20px;
}

.field-container__input-wrapper {
  position: relative;
}

.field {
  border: 1px solid var(--border-color-medium-violet);
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 8px;
}

.field_disabled {
  border: 1px solid var(--border-coolor-disabled);
  background-color: transparent;
}

.field__invalid-input {
  border: 1px solid var(--border-color-error);
}
