.dropdown__checkbox-label {
  min-height: 32px;
  font-family: var(--font-family-lato);
  font-weight: var(--text-weight-primary);
  color: var(--text-color-dark-blue);
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.dropdown__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color-dark-blue);
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

.dropdown__checkbox:checked {
  background-color: var(--bg-color-dark-violet);
  border: 1px solid var(--bg-color-dark-violet);
  background-image: url('../../../images/checkbox_icon.svg');
  background-size: 10px 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown__custom-input {
  padding-bottom: 4px;
  width: 100%;
  border: none;
  font-family: var(--font-family-lato);
  font-weight: var(--text-weight-primary);
  color: var(--text-color-dark-blue);
  border-bottom: 1px solid var(--border-color-dark-blue);
}

.dropdown__custom-input:focus {
  outline: none;
  color: var(--text-color-dark-violet);
  border-bottom: 1px solid var(--border-color-dark-violet);
}

.dropdown__custom-input:disabled {
  background-color: transparent;
  color: var(--text-coolor-disabled);
  border-bottom: 1px solid var(--border-coolor-disabled);
}

.dropdown__custom-input_invalid {
  color: var(--text-color-error);
}
