.header {
  padding: 40px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
}

.header__nav {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 40px 80px 0;
  }
}

@media screen and (max-width: 1024px) {
  .header__nav > .links {
    gap: 20px;
  }

  .header__nav {
    column-gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .header__nav > .links {
    max-width: 205px;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header__nav > .links {
    display: none;
  }

  .header__nav {
    gap: 0;
  }

  .header {
    padding: 24px 0 24px 34px;
  }

  .header__button {
    max-width: 100px;
  }
}
