.header {
  display: flex;
  width: 100%;
  padding: 40px 80px 60px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
