.header {
  display: flex;
  width: 100%;
  padding: 40px 80px 60px;
  align-items: center;
  justify-content: space-between;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}
