.dropdown-item-icon-radio {
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #272766;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 1.5px white;
  cursor: pointer;
}

.dropdown-item-icon_hidden {
  display: none;
}

.dropdown-item-icon-radio:checked {
  background-color: #272766;
}

.dropdown-item-icon-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #272766;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-item-icon-checkbox:checked {
  background-color: #6b6bc7;
  border: 1px solid #6b6bc7;
  background-image: url('../../../../../images/checkbox_icon.svg');
  background-size: 10px 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-item-icon-title {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  z-index: -1;
  height: 40px;
}

.dropdown-item-icon-radio:focus,
.dropdown-item-icon-checkbox:focus {
  outline: 2px solid #8d8de9;
}

.dropdown-item-icon-title:focus {
  outline: 2px solid #8d8de9;
  border-radius: 20px;
}