.custom-textarea {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.custom-textarea__text {
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px var(--border-color-dark-violet);
  font-family: var(--font-family-lato);
  font-weight: var(--text-weight-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color-dark-blue);
  padding: 12px;
  max-width: 100%;
  resize: none;
  overflow: hidden;
  border: none;
  margin-bottom: 3px;
  background-color: transparent;
}

.custom-textarea__text:disabled {
  color: var(--text-color-disabled);
  box-shadow: inset 0 0 0 1px var(--border-coolor-disabled);
}

.custom-textarea__title_disabled {
  color: var(--text-color-disabled);
}

.custom-textarea__text::placeholder {
  color: var(--text-color-dark-grey);
}

.custom-textarea__text:focus {
  outline: none;
}

.custom-textarea__text_error {
  box-shadow: inset 0 0 0 1px var(--border-color-error);
}

.custom-textarea__title {
  padding-left: 12px;
  margin-bottom: 12px;
}
