.custom-textarea {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.custom-textarea__text {
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #6b6bc7;
  font-family: var(--font-family-lato);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #272766;
  padding: 12px;
  max-width: 100%;
  resize: none;
  overflow: hidden;
  border: none;
  margin-bottom: 3px;
  background-color: transparent;
}

.custom-textarea__text:disabled {
  color: #9b9da0;
  box-shadow: inset 0 0 0 1px #9b9da0;
}

.custom-textarea__title_disabled {
  color: #9b9da0;
}

.custom-textarea__text::placeholder {
  color: #9b9da0;
}

.custom-textarea__text:focus {
  outline: none;
}

.custom-textarea__text_type_error {
  box-shadow: inset 0 0 0 1px #cf3614;
}

.custom-textarea__title {
  padding-left: 12px;
  margin-bottom: 12px;
}
