.links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.links_direction_column {
  gap: 20px;
  flex-direction: column;
  align-items: start;
}

.links_type_violet {
  background-color: var(--bg-color-light-violet);
  border-radius: 12px;
  padding: 32px 32px 40px 32px;
  line-height: 1.33;
}
