.dropdown-item-title {
  padding: 8px 16px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.dropdown-item-title_type_checked {
  background-color: #d9d9f1;
  padding: 8px 16px;
  border-radius: 20px;
}
