.footer {
  background-color: #d9d9f1;
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__social-icon {
  transition: all .3s ease-in-out;
}

.footer__social-icon:hover {
  opacity: .7;
}

.footer__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__social-networks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  height: 32px;
}

.footer__social-link {
  display: block;
}

.footer__social-link,
.footer__social-icon {
  width: 32px;
  height: 32px;
}

.footer__service-documents {
  flex-direction: column;
  font-family: var(--font-family-montserrat);
}

@media screen and (max-width: 1440px) {
  .footer {
    padding: 40px 80px;
  }
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 40px 0 80px;
  }

  .footer__container {
    padding: 0 24px;
    row-gap: 60px;
  }

  .footer__content {
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-start;
  }

  .footer__links {
    flex-direction: column;
    gap: 12px !important;
    align-items: flex-start !important; 
  }

  .footer__service-documents {
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 768px) {
  .footer__logo {
    display: unset !important;
  }
}