.dropdown {
  position: relative;
}

.user {
  background-color: inherit;
  border: none;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.user__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.user:hover .user__name {
  transform: scale(1.1);
  transition: 0.3s;
}

.user__name {
  position: relative;
  font-family: var(--font-family-lato);
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color-dark-blue);
  transition: 0.3s;
}

.user__name::after {
  display: block;
  content: '';
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  background-color: var(--border-color-dark-violet);
  height: 1px;
}

.user__name_opened::after {
  width: 100%;
  margin-top: 4px;
  opacity: 1;
}

.dropdown__list {
  position: absolute;
  top: 76px;
  right: -60px;
  white-space: nowrap;
  padding: 20px 40px;
  display: flex;
  box-shadow: 0px 4px 12px 0px #2727661a;
  border-radius: 12px;
  list-style: none;
  gap: 16px;
  flex-direction: column;
  background-color: var(--bg-color-white);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0s 0.3s;
}

.dropdown__list_opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0s;
}

.exit-btn {
  background-color: inherit;
  border: none;
  font-family: var(--font-family-lato);
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color-dark-blue);
  cursor: pointer;
  transition: 0.3s;
}

.exit-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
