.reset_password {
  max-width: 522px;
  width: 100%;
  margin: 0 auto;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.reset-password__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.reset-password__form-button {
  align-self: flex-end;
}