.reset-password {
  max-width: 522px;
  width: 100%;
  padding: 60px 24px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.reset-password__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.reset-password__form-button {
  align-self: flex-end;
}