.your-psycho {
  padding: 32px 32px 40px;
  border: 1px solid #6b6bc7;
  border-radius: 12px;
  max-width: 846px;
  display: flex;
  gap: 28px;
  overflow: hidden;
}

.your-psycho__button {
  text-align: center;
}

.your-psycho__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.your-psycho__container > .button {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .your-psycho {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 480px) {
  .your-psycho {
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
  }

  .your-psycho__container > .button {
    width: 100%;
  }
}
