.dropdown-item__icon_radio {
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color-dark-blue);
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 1.5px white;
  cursor: pointer;
}

.dropdown-item__icon_radio:checked {
  background-color: var(--border-color-dark-blue);
}

.dropdown-item__icon_checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color-dark-blue);
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-item__icon_checkbox:checked {
  background-color: var(--bg-color-dark-violet);
  border: 1px solid var(--bg-color-dark-violet);
  background-image: url('../../../../images/checkbox_icon.svg');
  background-size: 10px 7px;
  background-repeat: no-repeat;
  background-position: center;
}
