.field {
  position: relative;
  border: 1px solid var(--border-color-medium-violet);
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 8px;
  min-height: 48px;
}

.field_disabled {
  border: 1px solid var(--border-coolor-disabled);
}

.field__invalid-input {
  border: 1px solid var(--border-color-error);
}
