.session-registration {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.session-registration__back-btn {
  padding: 0 8px 0 0;
}

.session-registration__time-container {
  max-width: 490px;
}

.session-registration__time {
  display: flex;
  flex-direction: row;
  column-gap: 28px;
}

.session-registration__time-calendar {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 588px;
  width: 100%;
}

.session-registration__container {
  width: unset;
}

@media screen and (max-width: 1080px) {
  .session-registration__time {
    flex-direction: column;
  }

  .session-registration__info {
    align-self: center;
  }

  .session-registration__container {
    display: flex;
    align-items: center;
    flex-direction: column !important;
    width: 100%;
  }
}