.page-layout-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.page-layout {
  display: grid;
  max-width: 1440px;
  grid-template-areas: 'section title' 'nav children';
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, 100%);
  column-gap: 20px;
  row-gap: 40px;
  padding: 60px 80px 100px;
  position: relative;
  width: 100%;
} 

.page-layout > .title {
  grid-area: title;
}
.page-layout__children {
  grid-area: children;
}

.page-layout__nav {
  grid-area: nav;
}
.page-layout__section {
  grid-area: section;
  justify-self: end;
  margin-right: 8px;
  align-self: center;
}

@media screen and (max-width: 950px) {
  .page-layout {
    padding: 60px 60px 100px;
  }
}

@media screen and (max-width: 768px) {
  .page-layout {
    padding: 10px 24px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .page-layout__children {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}