.field-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}

.field-button:focus {
  outline: none;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}
