.home-page__welcome-image {
  display: block;
  object-fit: contain;
  max-width: 630px;
  max-height: 434px;
  width: 49%;
}

@media screen and (max-width: 768px) {
  .home-page__welcome-image {
    width: 327px;
    height: 226px;
  }
}

@media screen and (max-width: 374px) {
  .home-page__welcome-image {
    width: 100%;
  }
}