.block-with-title {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.block-with-title_size_m {
  gap: 48px;
}

@media screen and (max-width: 768px) {
  .block-with-title {
    gap: 18px;
  }

  .block-with-title_size_m {
    gap: 32px;
  }
}
