.banner {
  display: flex;
  max-width: 1280px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  height: 434px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: start;
  max-width: 630px;
  width: 51%;
}

.banner__description {
  max-width: 500px;
  font-family: var(--font-family-lato);
  font-size: 22px;
  color: var(--text-color-dark-blue);
  font-weight: var(--text-weight-primary);
  line-height: 28px;
  padding-bottom: 12px;
}

.banner__img {
  display: block;
  object-fit: contain;
  width: 49%;
}

@media screen and (max-width: 1250px) {
  .banner__description {
    font-size: 18px;
    line-height: normal;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    height: 626px;
    row-gap: 40px;
  }

  .banner__text {
    width: 100%;
    gap: 16px;
  }

  .banner__img {
    width: 327px;
    height: 226px;
  }

  .banner__description {
    font-size: 16px;
    padding-bottom: 24px;
  }
}