.mini-psycho-card {
  display: flex;
  flex-direction: row;
  max-width: 588px;
  width: 100%;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #8d8de9;
  padding: 32px 32px 40px;
}


@media screen and (max-width: 768px){
  .mini-psycho-card {
    padding: 16px 16px 20px;
  }
}

@media screen and (max-width: 450px){
  .mini-psycho-card {
    flex-direction: column;
  }
}